.detination-img img {
    width: 100%;
}
.detination-img img {
    width: 100%;
}
.destination-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    color: #fff
}
.detination-img {
    position: relative;
}
.destination-text li {
    background-color: #28a745;
    padding: 6px 12px;
    list-style: none;
    border-radius: 30px;
}
.destination-text a:hover {
    color: white;
}
.destination-text a {
    color: #fff;
}
.single-desti {
    transition: .3s;
}
.single-desti:hover {
    transform: scale(1.1);
}