@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6, a{
  font-family: 'Josefin Sans', sans-serif;
}
p {
  line-height: 30px;
}
.section-title p {
  margin-top: 30px;
}
.section-title h2 {
  font-weight: 400;
}
.header-text button {
  padding: 10px 30px;
  margin-top: 20px;
}
.package-dtls button {
    padding: 10px 30px;
    width: 100%;
}
